<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Виконав студент КН32, Козлов М.О.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Завдання №2
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Згенерувати матрицю розміром NxN. Виокремити за допомогою кольору усі парні від’ємні елементи.</p>
      <ion-item>
        <ion-label position="floating">Розмірність матриці</ion-label>
        <ion-input type="number" id="a" value="1" [(ngModel)]="Inputa"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="ras(Inputa)">Сформувати масив</ion-button>
      <ion-item>
        <ion-grid>
          <ion-row *ngFor="let i of a">
            <ion-col *ngFor="let j of i" [ngStyle]="{backgroundColor: getColor(j)}">{{j}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №1
    </ion-title>
  </ion-toolbar>
</ion-footer>