<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №3
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Виконав студент КН32, Козлов М.О.
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Лабораторні роботи
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-card-title>
            Лабораторна робота №3
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-text>
            Читання даних з JSON файлу
        </ion-text>
        <ion-item>
          <ion-label position="floating">Facility</ion-label>
          <ion-input type="string" id="Facility" value="KIS" #Inputf></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="load(Inputf.value)">Завантажити</ion-button>
        <ion-item>
          <ion-list>
            <ion-item button *ngFor="let item of data_subjects; index as i" >
              <ion-label text-wrap>
                <p [ngStyle]="{'color': getColor(Inputf.value, item.Facility)}"><span>Кафедра: </span></p>{{item.Facility}}
              </ion-label>
              <ion-text>
                <h2>Предмет: {{item.name}}</h2> 
                <h2>Викладач лекцій: {{item.LectureProf}}</h2>
                <h2>Викладач лабораторних: {{item.LabProf}}</h2>
              </ion-text>
            </ion-item>
          </ion-list>
        </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>